<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Appointment update</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="d-flex h-100 text-center text-white bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column px-4">
    <header class="nv-foot-custom">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mb-0 font-size-3">Diagnostic</h1>
            <nav class="nav">
                <a class="nav-link ms-auto text-decoration-none text-white" href="/patients/support">Support</a>
            </nav>
        </div>
    </header>
    <main class="flex-fill d-flex justify-content-center align-items-center flex-column px-3 py-4">
        <form th:action="@{'/visits/edit/' + ${visit.getId()}}" method="post">
            <input type="hidden" name="_method" value="put">
            <input type="hidden" name="visitId" th:value="${visit.getId()}"/>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="patientEmail" th:value="${visit.getPatientEmail()}">
            </div>
            <div class="mb-3">
                <label for="dateImput" class="form-label">Date</label>
                <input type="text" class="form-control" id="dateImput" aria-describedby="emailHelp" placeholder="YYYY-MM-DD" name="visitDate" th:value="${visit.getVisitDate()}" >
            </div>
            <div class="mb-3 d-flex flex-column">
                <label for="testTypeSelect" class="form-label">Test Type</label>
                <select class="form-select form-select-lg mb-3 select-custom" id="testTypeSelect" name="testId">
                    <option th:value="${test.getId()}" th:text="${test.getTestName()}"></option>
                    <option value="1">complete blood count</option>
                    <option value="2">urine - general examination</option>
                    <option value="3">PT (INR)</option>
                    <option value="4">APTT</option>
                    <option value="5">glucose</option>
                    <option value="6">lipid profile (CHOL, HDL, nie-HDL, LDL, TG)</option>
                    <option value="7">liver tests (ALT, AST, ALP, BIL, GGTP)</option>
                    <option value="8">creatinine</option>
                    <option value="9">complete calcium</option>
                    <option value="10">blood group</option>
                </select>
            </div>
            <div class="mb-3 d-flex flex-column">
                <label for="labIdSelect" class="form-label">Labolatorium ID</label>
                <select class="form-select form-select-lg mb-3 select-custom" aria-label="Small select example" id="labIdSelect" name="labId">
                    <option th:value="${visit.getLabId()}" th:text="${visit.getLabId()}"></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="mb-3 d-flex flex-column">
                <label for="tourSelect" class="form-label">Tour</label>
                <select class="form-select form-select-lg mb-3 select-custom" aria-label="Small select example" id="tourSelect" name="tour">
                    <option th:value="${visit.getTour()}" th:text="${visit.getTour()}"></option>
                    <option value="I">I</option>
                    <option value="II">II</option>
                    <option value="III">III</option>
                    <option value="IV">IV</option>
                    <option value="V">V</option>
                </select>
            </div>
            <button type="submit" class="btn btn-lg btn-custom mb-3">Update</button>
        </form>
    </main>
    <footer class="text-white-50 nv-foot-custom mt-auto">
        <p>Tompaw4727</p>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style>
    .nv-foot-custom {
        color: #ffffff;
        background-color: #32383e;
        border-radius: 0.25rem;
    }
    .btn-custom {
        color: #ffffff;
        background-color: #2f353b;
        border-color: #2f353b;
        border-radius: 0.5rem;
    }
    .select-custom {
        border-radius: 0.25rem;
    }
</style>
</body>
</html>