<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class ="d-flex h-100 text-center text-white bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column px-4">
    <header class="mb-4 nv-foot-custom">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mb-0 font-size-3">Diagnostic</h1>
            <nav class="nav">
                <a class="nav-link ms-auto text-decoration-none text-white" href="/patients/support">Support</a>
            </nav>
        </div>
    </header>
    <main class="flex-fill d-flex justify-content-center align-items-center flex-column px-3">
        <div class="mb-2">
            <img class="img-fluid image-custom" th:src="@{/clinic1b.jpg}" alt="Clinic" >
        </div>
        <h2 class="mb-2">About us</h2>
        <p class="lead">Welcome to our laboratory clinic on Piekna Street, Wroclaw! We prioritize your health with precise diagnostics delivered promptly. Trust our skilled team for reliable and efficient services in a state-of-the-art facility.</p>
        <p class="lead">
        <form th:action="@{/employees}" method="get">
            <button type="submit" class="btn btn-lg btn-custom">For Employees</button>
        </form>
        </p>
        <p class="lead">
        <form th:action="@{/patients}" method="get">
            <button type="submit" class="btn btn-lg btn-custom">For Patients</button>
        </form>
        </p>
    </main>
    <footer class="mt-auto text-white-50 nv-foot-custom">
        <p>Tompaw4727</p>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style>
    .btn-custom {
        color: #ffffff;
        background-color: #2f353b;
        border-color: #2f353b;
        border-radius: 0.5rem;
    }
    .nv-foot-custom {
        color: #ffffff;
        background-color: #32383e;
        border-radius: 0.25rem;
    }
    .image-custom {
        max-width: 40%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        opacity: 0.9
    }
</style>
</body>
</html>