<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="d-flex h-100 text-center text-white bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column px-4">
    <header class="nv-foot-custom">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mb-0 font-size-3">Diagnostic</h1>
            <nav class="nav">
                <a class="nav-link ms-auto text-decoration-none text-white" href="/patients/support">Support</a>
            </nav>
        </div>
    </header>
    <main class="flex-fill d-flex justify-content-center align-items-center flex-column px-3">
        <h1 class="succes-font">Success! Question send successfully.</h1>
        <p class="lead">Your inquiry has been received. Our support team will respond within a maximum of 2 business days. Thank you for your patience.</p>
        <form th:action="@{/}" method="get" class="mt-5">
            <button type="submit" class="btn  btn-custom" >Return to Home Page</button>
        </form>
    </main>
    <footer class="text-white-50 nv-foot-custom mt-auto">
        <p>Tompaw4727</p>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style>
    .btn-custom {
        color: #ffffff;
        background-color: #2f353b;
        border-color: #2f353b;
        font-size: 2.2rem;
        padding: 1.6rem 1.9rem;
        border-radius: 1rem;
    }
    .nv-foot-custom {
        color: #ffffff;
        background-color: #32383e;
        border-radius: 0.25rem;
    }
    .succes-font {
        color:#66ff66;
        font-size: 3.5rem;
    }

</style>
</body>
</html>